@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
  background: #f5f5f5;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.4rem;
}

.selected-light {
  color: black;
  text-align: center;
  font-size: 1.7rem;
}

.selected-dark {
  color: white;
  text-align: center;
  font-size: 1.7rem;
}

.selected-light-hex {
  color: black;
}

.selected-dark-hex {
  color: #f5f5f5;
}

.selected-light-alert {
  color: #606060;
}

.selected-dark-alert {
  color: #f5f5f5;
}

.container {
  margin: 1rem;
}

.colors {
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, auto));
  grid-template-rows: repeat(auto-fit, minmax(95px, auto));
  margin-bottom: 50px;
}

@media screen and (max-width: 1014px) {
  .colors {
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-template-rows: repeat(3, minmax(95px, auto));
  }
  .selected-dark {
    font-size: 1.2rem;
  }
  .selected-light {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 375px) {
  .colors {
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-template-rows: repeat(10, minmax(95px, auto));
  }
  .selected-dark {
    font-size: 1.2rem;
  }
  .selected-light {
    font-size: 1.2rem;
  }
}

.color {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: none;
  display: flex;
  flex-direction: column;
}

.primary-color {
  color: red;
}

.btn {
  background: #768dd2;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-color: transparent;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  text-transform: capitalize;
  cursor: pointer;
}

input {
  border-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  text-transform: capitalize;
  cursor: pointer;
}

input.error {
  border: 2px solid #df4240;
}
